:root {
  --font-family: "Manrope", sans-serif;
  --font-size-p-xxxs: 6px;
  --font-size-p-xxs: 8px;
  --font-size-p-xss: 10px;
  --font-size-p-xs: 12px;
  --font-size-p-s: 14px;
  --font-size-p-m: 16px;
  --font-size-p-l: 18px;
  --font-size-h-xxs: 14px;
  --font-size-h-xs: 20px;
  --font-size-h-s: 24px;
  --font-size-large-30: 30px;
  --font-size-large-34: 34px;
  --font-size-h-m: 36px;
  --font-size-h-l: 40px;
  --font-size-h-xxl: 60px;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
}