.title {
  margin-bottom: 34px;
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 38px;
}

.button {
  margin-top: 36px;
  margin-left: auto;
}

@media (max-width: 768px) {
  .list {
    grid-template-columns: 1fr;
    gap: 38px;
  }
}

@media (max-width: 480px) {
  .list {
    grid-template-columns: 1fr;
    gap: 28px;
  }

  .title {
    margin-bottom: 24px;
  }

  .button {
    margin-top: 26px;
  }
}