.container {
  height: 100%;
}

.wrapper {
  flex-basis: 60%;
}

.title {
  font-size: var(--font-size-h-s);
}

.button {
  align-self: flex-end;
}

@media (max-width: 480px) {
  .title {
    font-size: var(--font-size-h-xs);
  }
}