.image {
  border-radius: 12px;
  flex-basis: 154px;
  height: 110px;
  flex-shrink: 0;
}

.title {
  height: 44px;
  overflow-y: scroll;
  scrollbar-width: none;
}

@media (max-width: 480px) {
  .image {
    flex-basis: 101px;
    height: 90px;
  }
}